#pcap
*.pcap

#doing_exe
*.do

#log
*/*.log

#tcpreplay/
tcpreplay/Idns/
tcpreplay/dns/
tcpreplay/ftp/
tcpreplay/t_.log
tcpreplay/t_IIdns.log
tcpreplay/test.cache
tcpreplay/test_DNS/
tcpreplay/tmp/
tcpreplay/savelog/

smtp/pop3/
smtp/smtpII
smtp/smtp_D
t/dns_g
t/do
t/hl
t/nohup.out
t/readfile

